{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/course_list.css' %}">

<h2>Courses</h2>
<div class="row mt-4">
    {% for c in course %}
<div class="col-md-3">

    <a href="{% url 'course_details' c.id %}" class="course-link">

        <div class="course-card">

            {% if c.image %}
                <img src="{{ c.image.url }}" class="course-img">
            {% endif %}

            <div class="course-body">
                <h6>{{ c.title }}</h6>
                <p class="course-desc">{{ c.description }}</p>
                <p>₹ {{ c.price }}</p>
            </div>

        </div>

    </a>

</div>



    
{% endfor %}



{% endblock %}
