{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/create_course.css' %}">
<div class="create-course-section">
    <div class="container d-flex justify-content-center align-items-center">

        <div class="course-card">

            <h2>Create Course</h2>

            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                    <label>Course Title</label>
                    {{ form.title }}
                </div>

                <div class="form-group">
                    <label>Description</label>
                    {{ form.description }}
                </div>

                <div class="form-group">
                    <label>Price</label>
                    {{ form.price }}
                </div>

                <div class="form-group">
                    <label>Course Image</label>
                    {{ form.image }}
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">
                    🚀 Create Course
                </button>

            </form>

        </div>

    </div>
</div>

{% endblock %}