{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/reg.css' %}">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card register-card p-4">
                <h2 class="text-center mb-4">Login to Your Account</h2>

                
                {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %}

                <form method="POST">
                    {% csrf_token %}

                    
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter username">
                    </div>

                    
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password">
                    </div>

                    
                    <button type="submit" class="btn btn-primary w-100 register-btn">
                        Login
                    </button>

                </form>

                <p class="text-center mt-3">
                    Don't have an account? 
                    <a href="/accounts/register/">Register</a>
                </p>

            </div>

        </div>
    </div>
</div>

{% endblock %}