{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/reg.css' %}">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card register-card p-4">
                <h2 class="text-center mb-4">Create Your Account</h2>

                
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        {{ form.username }}
                    </div>

                    
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email }}
                    </div>

                    
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        {{ form.password1 }}
                    </div>

                    
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        {{ form.password2 }}
                    </div>

                    
                    <div class="mb-3">
                        <label class="form-label">Select Role</label>
                        {{ form.role }}
                    </div>

                    
                    <button type="submit" class="btn btn-primary w-100 register-btn">
                        Register
                    </button>

                </form>

                <p class="text-center mt-3">
                    Already have an account? 
                    <a href="/accounts/login/">Login</a>
                </p>

            </div>

        </div>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}