<!DOCTYPE html>
{%load static %}

<html>
<head>
    <title>CodeStack</title>
    


    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
  <div class="container">

    
    <a class="navbar-brand" href="/">🎓 CodeStack</a>

    
    <div>

      <a href="/" class="btn btn-light btn-sm me-2">Home</a>
      <a href="{% url 'dashboard' %}" class="btn btn-info btn-sm">
    Dashboard
</a>

      {% if user.is_authenticated %}

        
        <span class="text-white me-2">
            {{ user.username }} ({{ user.role }})
        </span>

        
        {% if user.role == 'instructor' %}
            <a href="/create/" class="btn btn-warning btn-sm me-2">Add Course</a>
        {% endif %}

        <a href="/accounts/logout/" class="btn btn-danger btn-sm">Logout</a>

      {% else %}

        <a href="/accounts/login/" class="btn btn-success btn-sm me-2">Login</a>
        <a href="/accounts/register/" class="btn btn-primary btn-sm">Register</a>

      {% endif %}

    </div>

  </div>
</nav>

<div class="main-content">



<div class="container mt-4">

    {% block content %}
    {% endblock %}

</div>
<div class="container mt-3">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center fade-message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
        let alerts = document.querySelectorAll('.fade-message');
        alerts.forEach(function(alert) {
            alert.style.transition = "opacity 0.5s";
            alert.style.opacity = "0";
            setTimeout(() => alert.remove(), 500);
        });
    }, 2000);
});
</script>
</div>


<footer class="text-center mt-5 mb-3 text-muted">
    <small>© 2026 CodeStack | Online Learning Platform</small>
</footer>

</body>
</html>

